{% load static %}
<link rel="stylesheet" href="{% static 'css/custom/home/vista-range.css'%}">
<div class="vista-container">
    <div class="vista-range">
        <div class="img-container">
            <div class="img-div">
                <img src="{% static 'img/home/vista1.webp' %}" alt="">
            </div>
        </div>
        <div class="learn-more-container">
            <div class="heading-word">
                <h1>The <strong>Vista Range & Laundry Collection</strong> Colours have changed</h1>
                <h3>Designed & Assembled in NZ</h5>
                <p class="p1">
                    Naturally seamless and beautifully captured, our new range of Woodgrain and Solid colours across the
                    Vista Range and Laundry Collection will help express your design personality. All MR Board excluding
                    Gloss & Matte White used comes from New Zealand forests and has achieved FSC certification, ensuring
                    the wood comes from responsibly managed forests. You can bring your design ideas to life, confident
                    in the knowledge that surfaces you have chosen have been made with a sustainable future in mind.
                </p>
                <p class="p1">
                    We have made it our business to support New Zealand businesses and have recently moved into our
                    newly built warehouse and distribution centre at 30 Mill Road, Whanganui. This new facility is armed
                    with the latest manufacturing technology, capable of high speed automated production, allowing
                    faster delivery times and increased production.
                </p>
                <p class="p1">
                    Our range of products are vast and continue to expand as we grow. The Vista Range and Laundry
                    Collection are Designed & Assembled in NZ by our local team of cabinetmakers, who are onsite to
                    ensure only the best of quality leave our doors daily. Our team of professionals understand our
                    products and will work with you in getting exactly what you need, when you need it.
                </p>
                <p class="p1">
                    Contact us today on <a href="tel:0800728662">0800 728 662</a> or <a
                        href="mailto:sales@newtech.co.nz">sales@newtech.co.nz</a> – we would love to hear from you!
                </p>
                <div class="learn-more-button">
                    <button type="button" class="learn-more-button-inside">
                        <a
                            href="https://view.publitas.com/newtech-bathroomware/vista-range-laundry-collection-new-colours">
                            <img src="{%static 'img/home/learn-more.webp'%}" alt="">
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="middle-image">
            <div class="middle-main">
                <img src="{% static 'img/home/vista2.webp' %}" alt="">
                <div class="solid-container">
                    <img src="{%static 'img/home/vista3.webp'%}" alt="">
                </div>
            </div>
        </div>
        <div class="last-images">
            <div class="last-image-main">
                <div class="big-slogan">
                    <img src="{%static 'img/home/vista4.webp'%}" alt="">
                </div>
                <div class="woodgrain">
                    <img src="{% static 'img/home/vista5.webp'%}" alt="">
                </div>
                <div class="link-content">
                    <div class="main-link-content">
                        <a href="mailto:sales@newtech.co.nz">
                            <img src="{% static 'img/home/vista6.webp'%}" alt="">
                        </a>
                    </div>
                </div>
                <div class="eight-slogan">
                    <div class="main-slogan">
                        <img src="{% static 'img/home/vista7.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>