{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "fieldset.html" %}
{% endfor %}
{% endblock %}

{% block submit_buttons_bottom %}
    {% if not is_popup %} {{ block.super }} {% endif %}
    {% if is_popup %}
		<div class="submit-row">
			<input type="submit" value="{% translate 'Save' %}" class="default" name="_save">
			<input type="submit" value="{% translate 'Save and add another' %}" name="_addanother" class="continue-editing">
			<input type="submit" value="{% translate 'Save and continue editing' %}" name="_continue" class="continue-editing">
		</div>
	{% endif %}
{% endblock %}
