{% extends 'base-newtech.html' %}
{% block pagetitle %}Laundry{% endblock %}
{% block og-pagetitle %}Laundry{% endblock %}
{% block page-content %}
    Select from sixteen pre-designed laundry styles - designed to suit your budget and lifestyle
{% endblock %}
{% block css_bottom %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom/laundry.css' %}">
{% endblock %}
{% block content %}
<section>
    <div class="laundry-content">
        <div class="banner-image banner-top">
            <div class="bt-image">
                <div class="content">
                    <img src="{% static 'img/laundry/logo-top.png' %}">
                    <a href="https://view.publitas.com/newtech-bathroomware/laundry-collection-by-newtech/page/1" target="_blank" class="btn">Download The Brochure</a>
                </div>
            </div>
        </div>
        <div class="step-work">
            <div class="sw-title">
                <div class="swt-text">
                    <p>How it all works in</p>
                    <h4>4 Easy Steps</h4>
                </div>
            </div>
            <div class="step-1 step-item">
                <div class="s-banner-top">
                    <img src="{% static 'img/laundry/laundry01.jpeg' %}">
                </div>
                <div class="s-step-bg">
                    <div class="step-description">
                        <h5>Discover your style.</h5>
                        <p>Select from sixteen pre-designed laundry styles - designed to suit your budget and lifestyle</p>
                    </div>
                    <div class="list-step">
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/matakana.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/matakana-hover.jpg' %}">
                                </a>
                                <p>Matakana</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/doubtful-sound.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/doubtful-sound-hover.jpg' %}">
                                </a>
                                <p>Doubtful Sound</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/castlepoint.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/castlepoint-hover.jpeg' %}">
                                </a>
                                <p>Castlepoint</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/fiordland.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/fiordland-hover.jpg' %}">
                                </a>
                                <p>Fiordland</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/coronet-peak.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/coronet-peak-hover.jpg' %}">
                                </a>
                                <p>Coronet Peak</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/devonport.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/devonport-hover.jpg' %}">
                                </a>
                                <p>Devonport</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/piha.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/piha-hover.jpg' %}">
                                </a>
                                <p>Piha</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/cathedral-cove.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/cathedral-cove-hover.jpg' %}">
                                </a>
                                <p>Cathedral Cove</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/mystery-creek.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/mystery-creek-hover.jpg' %}">
                                </a>
                                <p>Mystery Creek</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/golden-bay.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/golden-bay-hover.jpg' %}">
                                </a>
                                <p>Golden Bay</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/the-viaduct.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/the-viaduct-hover.jpg' %}">
                                </a>
                                <p>The Viaduct</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/taihape.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/taihape-hover.jpg' %}">
                                </a>
                                <p>Taihape</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/southern-alps.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/southern-alps-hover.jpg' %}">
                                </a>
                                <p>Southern Alps</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/cape-reinga.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/cape-reinga-hover.jpg' %}">
                                </a>
                                <p>Cape Reinga</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/arrowtown.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/arrowtown-hover.jpg' %}">
                                </a>
                                <p>Arrowtown</p>
                            </div>
                        </div>
                        <div class="ls-item">
                            <div class="image">
                                <a href="#">
                                    <img class="hover-hidden" src="{% static 'img/laundry/cardrona-valley.jpg' %}">
                                    <img class="hover-show" src="{% static 'img/laundry/cardrona-valley-hover.jpg' %}">
                                </a>
                                <p>Cardrona Valley</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step-2 step-item">
                <div class="s-banner-top">
                    <img src="{% static 'img/laundry/laundry18.jpeg' %}">
                </div>
                <div class="s-step-bg">
                    <div class="step-description">
                        <h4>Cabinetry Finishes</h4>
                    </div>
                    <div class="list-cabinetry">
                        <div class="list-bg bg-big">
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry19.jpeg' %}">
                            </div>
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry20.jpeg' %}">
                            </div>
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry21.jpeg' %}">
                            </div>
                        </div>
                        <div class="list-bg bg-small">
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry22.jpeg' %}">
                            </div>
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry23.jpeg' %}">
                            </div>
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry24.jpeg' %}">
                            </div>
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry25.jpeg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="step-description">
                        <h4>Quartz 20mm Benchtop Finishes</h4>
                    </div>
                    <div class="list-cabinetry">
                        <div class="list-bg bg-two">
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry26.jpeg' %}">
                            </div>
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry27.jpeg' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step-3 step-item">
                <div class="s-banner-top">
                    <img src="{% static 'img/laundry/laundry28.jpeg' %}">
                </div>
                <div class="s-step-bg">
                    <div class="list-cabinetry">
                        <div class="list-bg bg-two">
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry29.jpeg' %}">
                            </div>
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry30.jpeg' %}">
                            </div>
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry31.jpeg' %}">
                            </div>
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry32.jpeg' %}">
                            </div>
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry33.jpeg' %}">
                            </div>
                            <div class="lb-item">
                                <img src="{% static 'img/laundry/laundry34.jpeg' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step-4 step-item">
                <div class="s-banner-top">
                    <img src="{% static 'img/laundry/laundry35.jpeg' %}">
                </div>
                <div class="step-number">
                    <p>Visit <a href="https://newtech.co.nz/store-locations/">newtech.co.nz/store-locations</a> to find your nearest store or contact us on <a href="tel:0800728662">0800 728 662</a></p>
                    <h4>OR Design your new laundry</h4>
                    <div class="list-step-number">
                        <div class="lstep-top">
                            <div class="lst-item">
                                <span>01</span>
                                <span>Measure your space and plan your layout</span>
                            </div>
                            <div class="lst-item">
                                <span>02</span>
                                <span>Talk to us via a virtual consultation to confirm your laundry</span>
                            </div>
                            <div class="lst-item">
                                <span>03</span>
                                <span>Choose your extras to fine tune your space</span>
                            </div>
                            <div class="lst-item">
                                <span>04</span>
                                <span>Order your new laundry today !</span>
                            </div>
                        </div>
                        <div class="lstep-bottom">
                            <div class="lsb-content bg-step1">
                                <span class="mobile-show">01. Measure your space and plan your layout</span>
                                <span>Measure your space and plan your layout, using the modular laundry components from pages 14-17 of the Laundry catalogue</span>
                            </div>
                            <div class="lsb-content bg-step2">
                                <span class="mobile-show">02. Talk to us via a virtual consultation to confirm your laundry</span>
                                <span>We will walk you through your layout and discuss your options via a virtual consultation. Contact us to arrange an appointment</span>
                            </div>
                            <div class="lsb-content bg-step3">
                                <span class="mobile-show">03. Choose your extras to fine tune your space</span>
                                <span>Select your colour finish and extras to personalise your space</span>
                            </div>
                            <div class="lsb-content bg-step4">
                                <span class="mobile-show">04. Order your new laundry today !</span>
                                <span>Visit <a href="https://newtech.co.nz/store-locations/">newtech.co.nz/store-locations</a> to find your nearest store or contact us on <a href="tel:0800728662">0800 728 662</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="banner-bot">
            <div class="bt-image">
                <div class="content">
                    <img src="{% static 'img/laundry/bg-foot1.jpeg' %}">
                    <a href="https://view.publitas.com/newtech-bathroomware/laundry-collection-by-newtech/page/1" target="_blank" class="btn">Download The Brochure Today</a>
                </div>
            </div>
            <div class="actions">
                <a href="https://view.publitas.com/newtech-bathroomware/laundry-collection-package-order-form" target="_blank">Download the laundry <b>Package</b> Order Form</a>
                <a href="https://view.publitas.com/newtech-bathroomware/laundry-collection-custom-order-form" target="_blank">Download the laundry <b>Custom</b> Order Form</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}