{% extends 'base-newtech.html' %}
{% block pagetitle %}Design@Home Laundry Planner{% endblock %}
{% block og-pagetitle %}Design@Home Laundry Planner{% endblock %}
{% block page-content %}
Design your new laundry with Design@Home Laundry Planner. Choose from a wide range of packages or custom build to suit
your space. See newtech.co.nz for more details.
{% endblock %}
{% block css_bottom %}
{% load static %}
<link
        type="text/css"
        href="{% static 'css/custom/cms/laundry-planner.css' %}"
        rel="stylesheet"
        media="screen"
/>
<link type="text/css" href="{% static 'css/custom/home/slider.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% load static %}
<section class="page-wrapper-message">
    {% include 'message.html' %}
</section>
<div class="laundry-planner">
    <div class="laundry-banner">
        <a class="banner-image" href="https://planner.newtech.co.nz/" target="_blank">
        </a>
        <div class="banner-content">
            <p class="title">Design your new laundry with</p>
            <div class="logo"><img src="{% static 'img/laundry-planner/logo-newtech-white.png' %}" alt=""></div>
            <div class="action">
                <label>Start Now</label>
                <img class="icon" src="{% static 'img/laundry-planner/button-play.png' %}" alt=""></div>
        </div>
    </div>
    <div class="overview-design-home">
        <div class="overview-step">
            <ul class="steps">
                <li class="step">
                    <img class="step-bg" src="{% static 'img/laundry-planner/start-bg.png' %}" alt="">
                    <p class="step-text">Start</p>
                </li>
                <li class="step">
                    <img class="step-bg" src="{% static 'img/laundry-planner/build-bg.png' %}" alt="">
                    <p class="step-text">Build</p>
                </li>
                <li class="step">
                    <img class="step-bg" src="{% static 'img/laundry-planner/design-bg.png' %}" alt="">
                    <p class="step-text">Design</p>
                </li>
                <li class="step">
                    <img class="step-bg" src="{% static 'img/laundry-planner/view-bg.png' %}" alt="">
                    <p class="step-text">View</p>
                </li>
            </ul>
        </div>
        <div class="overview-description">
            <h2>
                Planning and designing your new laundry has never been easier with our 3D laundry planner <span>design@home</span>
            </h2>
            <p>Get started today with our free easy-to-use online planner design@home and create accurate and beautiful laundry designs in minutes.</p>
        </div>
    </div>
    <div class="get-started">
        <div class="container">
            <div class="get-started-content">
                <div class="get-started-image">
                    <a href="https://planner.newtech.co.nz/" target="_blank">
                        <img src="{% static 'img/laundry-planner/design-home.png'%}" alt="">
                    </a>
                </div>
                <div class="get-started-desc">
                    <p>
                        You can now plan and design your new laundry from home in 4
                        easy steps with design@home. It's free and easy-to-use.
                    </p>
                    <p>
                        Discover a wide range of options and customizations all with the
                        ability to view and edit your design at any stage.
                    </p>
                    <p>
                        Once you've completed your design, simply send to us at
                        <a href="mailto:sales@newtech.co.nz">
                            <strong>design@newtech.co.nz</strong>
                        </a>
                        or contact us on
                        <a href="tel:0800728662"><strong> 0800 728 662 </strong></a> to take your laundry to the next
                        stage.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="design-new-laundry">
        <div class="heading">
            <img src="{%static 'img/laundry-planner/heading-new-text.png' %}" alt="">
        </div>
        <div class="content">
            <div class="sub-title">
                <h4>4 Easy Steps with&nbsp;<span>design@home</span></h4>
            </div>
            <h2 class="title">Design your new LAUNDRY with design@home online planner</h2>
            <div class="list-steps">
                <div class="step start-step">
                    <div class="img-step">
                        <img src="{%static 'img/laundry-planner/start-img.png' %}" alt="">
                    </div>
                    <div class="step-description">
                        <div class="number-step">
                            <img src="{%static 'img/laundry-planner/step-bg-1.png' %}" alt="">
                            <div class="number"><strong>01</strong></div>
                        </div>
                        <div class="title">Start</div>
                        <p>
                            To make your work easier, we have predefined some standard room shapes for you.
                            For these you only need to enter the specific room dimensions, then you can start planning.
                            If your room has a different shape, please select "Free Room". Optionally,
                            you can load a saved plan or use a furnished room template.
                        </p>
                    </div>
                </div>
                <div class="step build-step img-right">
                    <div class="img-step">
                        <img src="{%static 'img/laundry-planner/build-img.png' %}" alt="">
                    </div>
                    <div class="step-description">
                        <div class="number-step">
                            <img src="{%static 'img/laundry-planner/step-bg-2.png' %}" alt="">
                            <div class="number"><strong>02</strong></div>
                        </div>
                        <div class="title">Build</div>
                        <p>
                            To further adapt the interior design to your expectations and wishes,
                            you can add finishing touches to the walls, doors, floor and other elements.
                            Click on an element in the room and select from the left column the appropriate
                            property you want to modify.
                        </p>
                    </div>
                </div>
                <div class="step furnish-step">
                    <div class="img-step">
                        <img src="{%static 'img/laundry-planner/furnish-img.png' %}" alt="">
                    </div>
                    <div class="step-description">
                        <div class="number-step">
                            <img src="{%static 'img/laundry-planner/step-bg-3.png' %}" alt="">
                            <div class="number"><strong>03</strong></div>
                        </div>
                        <div class="title">Furnish</div>
                        <p>
                            Select your desired products from the Laundry catalogue displayed on the left hand side.
                            You can add any product to your room by simply clicking on it or using drag &amp; drop.
                        </p>
                    </div>
                </div>
                <div class="step view-step img-right">
                    <div class="img-step">
                        <img src="{%static 'img/laundry-planner/view-img.png' %}" alt="">
                    </div>
                    <div class="step-description">
                        <div class="number-step">
                            <img src="{%static 'img/laundry-planner/step-bg-4.png' %}" alt="">
                            <div class="number"><strong>04</strong></div>
                        </div>
                        <div class="title">View</div>
                        <p>
                            When you have finished planning your laundry you can save,
                            print or revisit your individual plan at any stage by reloading and editing.
                            Once your are happy with your design, simply contact us at design@newtech.co.nz
                            to make your laundry a reality.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-link">
        <a href="https://planner.newtech.co.nz/">
            LAUNCH THE LAUNDRY PLANNER HERE
        </a>
    </div>
</div>

{% endblock content %}
{% block scripts %}
{% if cls_name in FORM_RECAPTCHA %}
<script type="text/javascript">
    function onSubmitBlueBook(e) {
        var form = document.forms['contact-form-blue'];
        // Trigger HTML5 validity.
        var reportValidity = form.reportValidity();

        // Then submit if form is OK.
        if (reportValidity) {
            form.submit();
        }
    }

    function onSubmitRappidApp(e) {
        var form = document.forms['contact-form-rappid'];
        // Trigger HTML5 validity.
        var reportValidity = form.reportValidity();

        // Then submit if form is OK.
        if (reportValidity) {
            form.submit();
        }
    }
</script>
{% endif %}
{% if user.is_authenticated %}
<script type="text/javascript">
    var favourites_modal_el = document.getElementById("modal-favourites"),
        fav_modal = new bootstrap.Modal(favourites_modal_el);
</script>
{% endif %}
<script src="{% static 'js/cdn/htmx.min.js' %}" defer></script>
<script>
    window.addEventListener('load', function () {
        htmx.on("htmx:afterSwap", function (evt) {
            if (evt.detail.requestConfig.elt.id == "btn-favourite-save") {
                fav_modal.hide();
            }
            if (evt.detail.requestConfig.elt.id.includes("btn-addcart")) {
                fetch('/api/cart/', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'

                    },
                })
                    .then((response) => response.json())
                    .then((data) => {
                        let event = new CustomEvent("update-mini-cart", {
                            detail: {
                                cart: {
                                    cart_count: data.count,
                                    subtotal: data.subtotal
                                }
                            }
                        });
                        window.dispatchEvent(event);
                    })
            }
        })
    })
</script>

{% endblock scripts %}