<!-- FOOTER AREA START -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:1000px;margin: 0 auto;">
	<tbody>
	<tr>
		<td>
			<p style="margin:0 0 1em 0;padding:0;border-top:1px solid #ccc;font-size:12px;padding-top:8px;text-align:center">
				<b>Head Office</b> 281 Heads Road, PO Box 2059, Whanganui | <b>Auckland Showroom</b> 525 Great South
				Road, Penrose, Auckland<br>
				Phone 0800 728 662 or 06 349 0194 | Fax 06 344 2597 |
				<a href="mailto:sales@newtech.co.nz" target="_blank">sales@newtech.co.nz</a> |
				<a href="http://www.newtech.co.nz" target="_blank"
				   data-saferedirecturl="https://www.google.com/url?q=http://www.newtech.co.nz&amp;
				   source=gmail&amp;ust=1681869148048000 &amp;usg=AOvVaw3hWgQW3u6oikDp7kr3D_sE">www.newtech.co.nz</a>
			</p>
		</td>
	</tr>
	</tbody>
</table>
<!-- FOOTER AREA END -->