<ul>
  <li data-cy="megamenu-products"
      class="nav-item level0 nav-1 level-top dropdown-content">
    <a href="{% url 'products' %}" class="level-top">Products</a>
    <ul class="sub-menu">
      {{ CATEGORY_TREE_MB_HTML }}
    </ul>
  </li>
  <li class="nav-item level0 nav-1 level-top dropdown-content">
    <a href="#" class="level-top">Services</a>
    <ul class="sub-menu">
    </ul>
  </li>
  <li class="nav-item level0 nav-1 level-top dropdown-content">
    <a href="#" class="level-top">About</a>
    <ul class="sub-menu">
    </ul>
  </li>
</ul>
