.page-content, .page-content--full {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    width: 100%;
    float: left;
}
.breadcrumbs {
    display: none;
    font-size: 0;
    text-align: left;
}
.breadcrumbs {
    display: block;
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    background-color: none;
}
.breadcrumbs .breadcrumb {
    display: inline-block;
    float: none;
    background-color: transparent;
    padding: 0px !important;
}
.breadcrumbs .breadcrumb:first-child:before {
    content: " ";
    margin: 0;
}
.breadcrumbs .breadcrumb a {
    color: #757575;
}
.breadcrumbs .breadcrumb::before {
    margin: 0 .5rem;
}
.breadcrumb-label {
    text-decoration: none;
    cursor: pointer;
}
.breadcrumbs .breadcrumb.is-active>.breadcrumb-label {
    cursor: text;
}
.breadcrumbs .breadcrumb:before {
    color: #757575;
    content: "/";
    margin: 0;
    position: relative;
    top: 1px;
}
.page {
    margin: 0 0.1rem;
    max-width: none;
    width: auto;
    display: flex;
}
.sidebarBlock-heading {
    margin-top: 0;
    text-transform: inherit;
}
.navBar, .navList {
    margin-left: 0;
}
.navList:after, .navList:before {
    content: " ";
    display: table;
}
.navList-action, .navList-item {
    display: block;
}
.navBar-action, .navList-action {
    text-decoration: none;
}
.navList-action {
    color: #333;
    font-size: 15px;
    padding: .21429rem 0;
}
.actionBar {
    margin: 1.5rem 0;
}
.actionBar:after, .actionBar:before {
    content: " ";
    display: table;
}
.actionBar:after {
    clear: both;
}
.actionBar-section .form-field {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-field:after, .form-field:before {
    content: " ";
    display: table;
}
.actionBar-section .form-input, .actionBar-section .form-label, .actionBar-section .form-select {
    display: inline-block;
}
.actionBar-section .form-select {
    color: #333;
    height: 2.14286rem;
}
.productGrid:after, .productGrid:before {
    content: " ";
    display: table;
}
.pagination-list:after, .pagination-list:before {
    content: " ";
    display: table;
}
li.pagination-item:first-child {
    margin-left: 0;
}
.pagination-item.pagination-item--current {
    border-color: #e5e5e5;
    border-radius: 4px;
    margin: 0 .35714rem 0 .78571rem;
}
.pagination-list .pagination-item {
    display: inline-block;
}
li.pagination-item {
    cursor: pointer;
}
.pagination-list li {
    display: block;
}
.pagination-item {
    border: 1px solid transparent;
    line-height: 1;
}
.form-select--date, .form-select--small {
    background-position: right .5rem top .5rem;
    background-size: 1.28571rem;
    font-size: 13px;
    height: 2.28571rem;
    line-height: 1rem;
    max-width: 20rem;
    padding: .57143rem .78571rem;
    padding-right: 2rem;
}
.actionBar-section .form-label {
    color: #757575;
    font-size: 13px;
    line-height: 2.14286rem;
    margin-bottom: 0;
    padding-left: .78571rem;
}
.actionBar-section .form-field .form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z' fill='rgba(117, 117, 117, 0.999)' /%3E%3C/svg%3E");
    background-position: right .57143rem top .61429rem;
    border-radius: 4px;
    padding: 0px 8px;
    width: 10rem;
}
.actionBar-section .form-field select{
    display: inline-block !important;
}
.actionBar-section .form-field select:focus{
   box-shadow: none;
}
.actionBar-section .form-input, .actionBar-section .form-select {
    border: 0;
    padding-left: .21429rem;
    width: auto;
}
.form-field:after {
    clear: both;
}
.form-fieldset {
    border-width: 0;
    margin: 0;
    padding: 0;
}
.nice-select{
    display: none !important;
}
.actionBar-section:after, .actionBar-section:before {
    content: " ";
    display: table;
}
.productGrid li{
    margin: 0;
    padding: 0;
}
.productGrid li .card{
    border: unset;
}
.pagination-vanity {
    display: flex;
    padding-left: 0;
    list-style: none;
}
.pagination-vanity .pagination-list {
    font-size: 0;
    margin-bottom: 1.5rem;
    text-align: center;
}
.pagination-vanity .pagination-list .pagination-item.pagination-item--current {
    border-color: #e5e5e5;
    border-radius: 4px;
    margin: 0 .35714rem 0 .78571rem;
}
.pagination-vanity .pagination-list:after, .pagination-list:before {
    content: " ";
    display: table;
}
li.pagination-item:first-child {
    margin-left: 0;
}
.pagination-list:after {
    clear: both;
}
.pagination-item .pagination-link {
    text-decoration: none;
    transition: all .2s ease;
}
.pagination-list .pagination-item {
    display: inline-block;
}
.pagination-item.pagination-item--next>a, .pagination-item.pagination-item--previous>a {
    color: #333;
}
.pagination-vanity .pagination-list {
    font-size: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 100%;
}
.pagination-vanity .pagination-list {
    display: block;
    margin-left: 0;
}
.pagination-vanity .pagination-list {
    display: block;
    margin-left: 0;
}
li.pagination-item--current a, li.pagination-item--current button {
    color: #333;
    cursor: default;
}
.pagination-item {
    border: 1px solid transparent;
    line-height: 1;
}
.pagination-list li {
    color: #757575;
    font-size: 1rem;
    margin-left: .35714rem;
}
.pagination-list li a, .pagination-list li button {
    border-radius: 4px;
    transition: background-color .3s ease-out;
    background: 0 0;
    color: #757575;
    display: block;
    font-size: 1em;
    font-weight: 400;
    line-height: inherit;
    padding: .28571rem .5rem;
}
.pagination-item {
    border: 1px solid transparent;
    line-height: 1;
}
.pagination-item--next {
    float: right;
}
.pagination-item a:hover{
    color: black;
}
@media (min-width: 1261px){

}
@media (min-width: 801px){
    .page-content {
        padding-left: 0.75rem;
        padding-right:0.75rem;
        width: 75%;
        float: left;
    }
    .page-sidebar {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        width: 25%;
        float: left;
    }
    .body {
        margin-top: 2.5rem;
    }
}
@media (min-width:551px){
    .breadcrumbs {
        display: block;
    }
    .actionBar-section {
        float: left;
    }
    .page-sidebar+.page-content .productGrid .product {
        width: 33.33333%;
    }
    .actionBar-section .form-input, .actionBar-section .form-select {
        display: inline-block;
        width: 14.28571rem;
    }
    .actionBar-section .form-label {
        display: inline-block;
        margin: 0 .35714rem 0 0;
    }
    .actionBar-section .form-input, .actionBar-section .form-select {
        display: inline-block;
        width: 14.28571rem;
    }
}
.breadcrumbs .breadcrumb {
    color: #757575;
    float: left;
    font-size: 13px;
    line-height: 13px;
    margin: 0;
    line-height: 1.5;
}
@media (min-width:481px){
    .breadcrumbs .breadcrumb::before {
        margin: 0 .5rem;
    }
    .actionBar-section .form-field {
        align-items:start;
        justify-content:left;
    }
}
@media (max-width:800px) {
    .page{
        display: block;
    }
}
@media (max-width:550px){
    .ltn__breadcrumb-inner{
        display: none;
    }
}